body
{
	background-color:#56A5EC;
}
div#largeimage
{
	background-color:#56A5EC;	
}
div#indexpage
{
	width:500px;
	height:500px;
	overflow:auto;
	margin:47px;
}

div#editpage
{
	padding-left:-20px;
}

h1
 {
	text-transform:uppercase;
	font-size:1.5em;
	font-family:impact;
	background:black;
	color:white;
	width:320px;
	letter-spacing: -0.045em;
	position: fixed;
	top: 0;
	margin-left:5px;
	text-indent:5px;
	border-style:inset;
	border-color:#56A5EC;
}

div.swappable
{
	position:relative;
	left:-50px;
}
div.inputbox
{
	width:500px;
}
img
{
	margin-left:5px;
}