/* CSS Document */

body {
	width:482px;
	margin:10px auto;
	padding:100px 240px;
	border:1px dashed #CCC;
	-moz-user-select:none;
}


#canvas {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: 1px dashed #666;
}